<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contacto
      <a href=""><ion-img class="img-user" src="/assets/User.png"></ion-img></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome">
      <ion-card-header class="justify">      
        <ion-card-title class="title">Contacto</ion-card-title>
        <ion-img class="ion-img" src="/assets/whats.png"></ion-img>
        <!-- <ion-card-subtitle>Te encuentras en Despacho</ion-card-subtitle> -->
      </ion-card-header>
        <ion-card-content class="justify">
          <!-- <p>Para comunicarte con nosotros, puede llamar o escribir a nuestro WhatsApp <a href="https://wa.me/573176215146">3176215146.</a></p> -->
          <p>Para comunicarte con nosotros, puede llamar o escribir a nuestro WhatsApp <a href="https://api.whatsapp.com/send?phone=573176215146&text=Hola!%20Quiero%20comunicarme%20con%20ustedes!">3176215146.</a></p>      
        </ion-card-content> 
      </ion-card>
</ion-content>