.slider{
    background: white !important;
}

.ion-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header{
    color: black !important;
 }

 .title{
    color: black !important;
    font-size: 25px;
    text-align: center;
    border-bottom: #de0303 2px solid;
    padding: 15px;
}

.subtittle{
    text-align: center
}
.img-user{
    display: inline-block;
    width: 10%;
    float: right;
  }