<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card class="slider">
          <ion-img class="ion-img" src="/assets/Uni4.jpg"></ion-img>  
          <ion-card-header>
              <ion-card-title>Sala de juntas</ion-card-title>
            </ion-card-header>      
            <ion-card-content class="justify">
                En el Oasis, el centro de negocios más exclusivo y de mayor desarrollo del sur de Cali, se ubican las más cómodas y funcionales salas para la realización de reuniones, juntas, talleres o comités. Con una capacidad de 10 personas, cuenta con equipo multimedia (Pantalla LCD de 42´para proyectar y  Tablero en Acrílico).
                Además de la elegancia de su mobiliario de sillas gerenciales y mesa tipo junta, este lugar cuenta con aire acondicionado, internet inalámbrico –WIFI, estación de café y agua; al igual que servicio de atención médica de la empresa Cruz Roja y área protegida en caso de emergencia. También dispone de salas de espera que gozan de las agradables condiciones climáticas que ofrece la arquitectura del Edificio Oasis.
            </ion-card-content>
          </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" shape="round" color="primary" (click)="closeModal()">Close
      </ion-button>
    </ion-toolbar>
  </ion-footer>