<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="slider">
        <ion-img class="ion-img" src="/assets/Uni1.png"></ion-img>  
        <ion-card-header>
            <ion-card-title>locales</ion-card-title>
          </ion-card-header>      
          <ion-card-content class="justify">
              Amplia variedad bajo el concepto de Ciudadela Comercial. Las mejores marcas y todo tipo de servicios los puede 
              encontrar en Unicentro Cali distribuidos en 546 locales comerciales y 291 oficinas.
          </ion-card-content>
        </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" shape="round" color="primary" (click)="closeModal()">Close
    </ion-button>
  </ion-toolbar>
</ion-footer>
