<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card class="slider">
          <ion-img class="ion-img" src="/assets/Uni3.jpg"></ion-img>  
          <ion-card-header>
              <ion-card-title>Salones de eventos</ion-card-title>
              <ion-card-subtitle>Caracolí Ubicado en el pasillo 5 al lado de los cajeros Colpatria</ion-card-subtitle>
            </ion-card-header>      
            <ion-card-content class="justify">
                Los grandes eventos de las empresas o las familias tienen un lugar en este cómodo espacio con capacidad para 200
                 personas en acomodación tipo auditorio, con equipos multimedia: Video Beam 4200 lúmenes con conexión inalámbrica, pantalla para proyectar, amplificación de sonido para conexión de portátil, equipo de sonido, tablero en acrílico y micrófono.
            </ion-card-content>
          </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" shape="round" color="primary" (click)="closeModal()">Close
      </ion-button>
    </ion-toolbar>
  </ion-footer>