<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card class="slider">
          <ion-img class="ion-img" src="/assets/Uni2.jpg"></ion-img>  
                <ion-card-header>
                    <ion-card-title>Zonas de entretenimiento</ion-card-title>
                </ion-card-header>      
                <ion-card-content class="justify">
                        La diversión y el entretenimiento son el complemento de una apuesta arquitectónica pensada para un contacto 
                        directo con el medio ambiente. La más avanzada tecnología en 12 salas cine, dos extraordinarias fuentes de agua: 
                        Oasis y Plazoleta Central y la más variada programación de fin de semana, donde la lúdica es una herramienta 
                        importante para el aprendizaje y el sano esparcimiento
                </ion-card-content>
          </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" shape="round" color="primary" (click)="closeModal()">Close
      </ion-button>
    </ion-toolbar>
  </ion-footer>